
<div class="logo">
  <%= image_tag "abadgirl.png", class:"logo-image" %>
</div>

<div class="row">
  <div class="large-12 columns ">
    <h1 class="about-title"> About Page</h1>
  </div>
</div>

<div class="row ad-block">

  <div class="medium-6 columns">
    <%= image_tag "RedBottoms.jpg", class:"img-splash-2" %>

  </div>

  <div class="medium-6 columns">
    <p class="p-splash-2">Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire. Hari Seldon, a mathematician and psychologist, has developed psychohistory, a new field of science and psychology that equates all possibilities in large societies to mathematics, allowing for the prediction of future events.</p>
  </div>

</div>
