
  <div class="logo">
    <%= image_tag "abadgirl.png", class:"logo-image" %>
  </div>

<br>
<br>
<br>

  <div class="inner-wrap">
    <!-- main content goes here -->
    <div class="row ad-block">
      <div class="medium-6 medium-push-6 columns">
        <img id="img-splash-1" src="https://2.bp.blogspot.com/-k3_qBG2E1og/Vow12qhEJII/AAAAAAAABvg/XWS2gYJsxdUzXeJ1up3_KxLXbaTd7I45w/s1600/beautybloggingprompt2.jpg" alt="" />
      </div>

      <div class="medium-6 medium-pull-6 columns">
        <p class="p-splash-1">Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire. Hari Seldon, a mathematician and psychologist, has developed psychohistory, a new field of science and psychology that equates all possibilities in large societies to mathematics, allowing for the prediction of future events.</p>
      </div>
    </div>

    <br>

    <div class="row ad-block">
      <div class="medium-6 columns">
        <img class="img-splash-2" src="https://s-media-cache-ak0.pinimg.com/564x/cc/8a/43/cc8a43a416d6e835092701c2aade29c7.jpg" alt="" />

      </div>
      <div class="medium-6 columns">
        <p class="p-splash-2">Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire. Hari Seldon, a mathematician and psychologist, has developed psychohistory, a new field of science and psychology that equates all possibilities in large societies to mathematics, allowing for the prediction of future events.</p>
      </div>
    </div>
    </div>


    <footer class="footer">
      <div class="row">
        <div class="small-12 columns">
          <!-- <p class="slogan">AbadGirl.com</p> -->
          <p class="links">
            <%= link_to "Home", splash_path %>
            <%= link_to "About", about_path %>
          </p>
          <p class="copywrite">Copywrite AbadGirl © 2016</p>
        </div>
      </div>
    </footer>
