
  <div class="logo">
    <%= image_tag "abadgirl.png", class:"logo-image" %>
  </div>


<hr>


  <div class="inner-wrap">

    <a class="left-off-canvas-toggle" href="#"><i class="fi-list"></i></a>

    <!-- main content goes here -->

    <div class="row ad-block">

      <div class="medium-6 medium-push-6 columns">
        <img id="img-splash-1" src="https://ununsplash.imgix.net/photo-1429277005502-eed8e872fe52?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="" />
      </div>

      <div class="medium-6 medium-pull-6 columns">

        <p class="img-splash-1">Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire. Hari Seldon, a mathematician and psychologist, has developed psychohistory, a new field of science and psychology that equates all possibilities in large societies to mathematics, allowing for the prediction of future events.</p>
      </div>

    </div>

    <div class="row ad-block">

      <div class="medium-6 columns">
        <%= image_tag "RedBottoms.jpg", class:"img-splash-2" %>

      </div>

      <div class="medium-6 columns">
        <p class="p-splash-2">Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire. Hari Seldon, a mathematician and psychologist, has developed psychohistory, a new field of science and psychology that equates all possibilities in large societies to mathematics, allowing for the prediction of future events.</p>
      </div>

    </div>

    </div>


    <footer class="footer">
      <div class="row">
        <div class="small-12 columns">
          <!-- <p class="slogan">AbadGirl.com</p> -->
          <p class="links">
            <%= link_to "Home", splash_path %>
            <%= link_to "About", about_path %>

          </p>
          <p class="copywrite">Copywrite AbadGirl © 2016</p>
        </div>
      </div>
    </footer>
