
<div class="logo">
  <%= image_tag "abadgirl.png", class:"logo-image" %>
</div>

<div class="row">
  <div class="large-12 columns ">
    <h1 class="about-title"></h1>
  </div>
</div>

<div class="row ad-block">

  <div class="medium-6 columns">
    <img id="img-about" src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/1463062_10202898467128964_344888952_n.jpg?oh=897afb9a9c7f7a50e1bd8dda210fe11f&oe=580AB3FB" alt="" />
  </div>

  <div class="medium-6 columns">
    <h2 class="about-name">Joanne Abad</h2><br>
    <p class="about-sub-name"> Makeup Enthusiast || Fashionista || Web Developer </p>
    <p class="about-body"> Like most girls, my interest in fashion started with shoes.  Whether it's a new pair of Jordans or a cute pair of heels, style starts from the ground up.  I love working with trends and styling for the perfect occasion and found myself most interested in the finishing pieces of the perfect look through cosmetics.  The artistry involved in style through cosmetics allows me to truly express my creativity.  Tying the perfect look together for a bride on her special day or doing makeup for the Oakland Raiders Cheeleaders, I have been blessed to work with a variety of clients.  My future plans are to take what I have learned to the next level.  I want to utilize my creativity through web design and create a network to join others in the fashion world together.</p>
  </div>

</div>

<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <!-- <p class="slogan">AbadGirl.com</p> -->
      <p class="links">
        <%= link_to "Home", splash_path %>

      </p>
      <p class="copywrite">Copywrite AbadGirl © 2016</p>
    </div>
  </div>
</footer>
