
  <div class="logo">
    <%= image_tag "abadgirl.png", class:"logo-image" %>
  </div>

<br>
<br>
<br>

  <div class="inner-wrap">
    <!-- main content goes here -->
    <div class="row ad-block">
      <div class="medium-6 medium-push-6 columns">
        <img id="img-splash-1" src="https://2.bp.blogspot.com/-k3_qBG2E1og/Vow12qhEJII/AAAAAAAABvg/XWS2gYJsxdUzXeJ1up3_KxLXbaTd7I45w/s1600/beautybloggingprompt2.jpg" alt="" />
      </div>

      <div class="medium-6 medium-pull-6 columns">
        <p class="p-splash-1">Maybe you know this feeling when you’re reaching a point where you are totally blocked and have absolutely no ideas anymore. At least that happens to me from time to time. Sometimes it’s just too much and the ideas stop flowing. There is so much inspiration out there, that you don’t know where to start and where to stop. I really hate this feeling. When you WANT to write, to be creative, to brainstorm but you just CAN’T. But this block is totally normal and happens to every blogger someday, I think. To prevent me from panicking about my blog flow, I write a lot of post-ideas in my notes when they come to my mind. So I can rely on them when I really need some ideas about new blogpost.</p>
      </div>
    </div>

    <br>

    <div class="row ad-block">
      <div class="medium-6 columns">
        <img class="img-splash-2" src="https://s-media-cache-ak0.pinimg.com/564x/cc/8a/43/cc8a43a416d6e835092701c2aade29c7.jpg" alt="" />

      </div>
      <div class="medium-6 columns">
        <p class="p-splash-2">If you are like me, creativity and inspiration can be somewhat lacking at times! I find it especially difficult to come up with unique posts if I have a lot on a particular week and I try to 'squeeze' time in to write posts. I have learned that if you are not inspired to write, then don't! No one is going to criticise you and your baby blog will still be here when you are ready to get back into it. The only effect of this is you might see a slow in readership but your supposed to blog because you love and enjoy it right? Not just to gain views, am I right?</p>
      </div>
    </div>
    </div>


    <footer class="footer">
      <div class="row">
        <div class="small-12 columns">
          <!-- <p class="slogan">AbadGirl.com</p> -->
          <p class="links">
            <%= link_to "Home", splash_path %>
            <%= link_to "About", about_path %>
          </p>
          <p class="copywrite">Copywrite AbadGirl © 2016</p>
        </div>
      </div>
    </footer>
