/******************** about style ***************************/
.about-title{
  margin-left: 41%;
  margin-top: 5%;
  font-size: 45px;
  font-family: 'Kaushan Script';
}

/******************** about style end ***************************/
