/******************** about style ***************************/
.about-name{
  margin-left: 24%;
  margin-top: 17%;
  font-size: 45px;
  font-family: 'Kaushan Script', cursive;
}
.about-body{
  margin-top: 5%;
  margin-left: -10%;
  font-family: 'Kaushan Script', cursive;
}
.about-sub-name{
  margin-left: 14%;
  margin-top: -5%;
  font-family: 'Kaushan Script', cursive;
}
#img-about{
  margin-top: 10%;
  width: 80%;
  margin-left: 5%;
}
/******************** about style end ***************************/
